.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.tablewrap {
  overflow-x: auto;
  height: 93vh;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th {
  position: sticky;
  top: 0;
}

table td, #table th {
  border: 1px solid #ddd;
  padding: 5px;
}

table tr {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 0;
}

table tr.om {
  background-color: #FFFF64;
}

table tr.holiday {
  background-color: #fff0db;
}

table tr.pay {
  background-color: #C6D8EB;
}

table tr.today {
  border-width: thick;
  border-color: black;
  border-left: none;
  border-right: none;
}

table tr:hover {background-color: #456C98;}
table tr:hover {color: #FFFFFF;}

table th, tfoot td {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2C5583;
  color: white;
  border: 1px solid #ddd;
  border-top: none
}

input[type="checkbox"]{
    /* -webkit-appearance: initial;
    appearance: initial; */
    background: #CADAED;
    width: 10px;
    height: 10px;
    border: none;
    position: relative;
}

input[type="checkbox"]:before {
    content: '-';
    position: absolute;
    top: -0.25em;
    left: .1em;
}

div.checkmark {
  text-align: right;
  max-height: 1px;
  height: 100%;
}