table {
  /* font-family: "Verdana", Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table td, #table th {
  border: 1px solid #ddd;
  padding: 5px;
}

table tr.SUN, tr.SAT {
  background-color: #97B4D3;
}

table tr.MON, tr.WED, tr.FRI {
  background-color: #FFFFFF;
}

table tr.TUE, tr.THU {
  background-color: #C6D8EB;
}

table tr:hover {background-color: #456C98;}
table tr:hover {color: #FFFFFF;}

table th, tfoot td {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2C5583;
  color: white;
  border: 1px solid #ddd;
  border-top: none
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: #CADAED;
    width: 10px;
    height: 10px;
    border: none;
    position: relative;
}

input[type="checkbox"]:before {
    content: '-';
    position: absolute;
    top: -0.25em;
    left: .1em;
}

div.checkmark {
  text-align: right;
  max-height: 1px;
  height: 100%;
}

th {
  background: white;
  position: sticky;
  top: 0;
}

div.isobuttons {
  display: inline-block;
}
