body{
  background: #688cb4;
  font-family: 'Comfortaa', cursive;
  font-size: small;
  overflow: hidden;
}

.grid-container {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.grid-item {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  background: #CADAED;
  width: 10px;
  height: 10px;
  border: none;
  position: relative;
}