body{
  background: #688cb4;
  font-family: 'Comfortaa', cursive;
  font-size: small;
  overflow: hidden;
}

.grid-container {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
